.modal {
    background-color: #202020;
    width: 70%;
    max-width: 30rem;
    border-radius: .25rem;
    position: fixed;
    top: 25%;
    left: 50%;
    /* transform: translateY(-50%); */
    transform: translateX(-50%);
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-header {
    display: flex;
    align-items: center;
    padding: .5rem;
    overflow: hidden;
    border-bottom: 1px solid #454545;
}

.modal-header > h2 {
    margin: 0;
}

.modal-header > .btn-close {
    margin-left: auto;
}

.modal-body {
    padding: .5rem;
    border-bottom: 1px solid #454545;
}

.modal-footer {
    padding: .5rem;
    display: flex;
}

.inputGroup {
    display: flex;
    align-items: center;
}

.input {
    width: 70%;
}

.label {
    width: 30%;
}

.btn-submit {
    margin-left: auto;
}
